# R packages for VS Code integration and development
languageserver
lintr

# Optional but recommended:
# Often needed by language server or other tools
#jsonlite 
# For code formatting
styler
# For alternative plot viewing in VS Code   
#httpgd   